# Prerequisites
code/*.d

# Compiled Object files
code/*.slo
code/*.lo
code/*.o
code/*.obj

# Compiled Dynamic libraries
code/*.so
code/*.dylib
code/*.dll

# Compiled Static libraries
code/*.lai
code/*.la
code/*.a
code/*.lib

# Executables
code/*.exe
code/*.out
code/*.app
code/fastCropper
